# Maven build output
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE project files
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Logs & temp files
*.log
*.tmp
*.swp
*.bak

# Docker files
Dockerfile
docker-compose.yml

# Other
.env
